# Aula 1: Comenzando con Python

### Ejercicio 1

Imprime la frase "Escuela de Datos de Alura".

In [2]:
print("Escuela de Datos de Alura")

Escuela de Datos de Alura

### Ejercicio 2

Imprime tu nombre y tu apellido siguiendo la estructura a continuación:
```
Nombre: [tu nombre]
Apellido: [tu apellido]
```

In [10]:
print("Nombre: Marcos Andrés")
print("Apellido: Travaglini")

Nombre: Marcos Andrés
Apellido: Travaglini

### Ejercicio 3

Imprime tu primer nombre letra por letra. Por ejemplo, si mi nombre es Álvaro, la salida sería:
```
Á
L
V
A
R
O
```

In [8]:
print("M")
print("A")
print("R")
print("C")
print("O")
print("S")

M
A
R
C
O
S

### Ejercicio 4

Imprime tu fecha de nacimiento en formato día mes año. Recuerda que los valores de día y año no deben estar entre comillas. Suponiendo una fecha de cumpleaños el 28 de febrero de 2003, el formato debe ser como el siguiente:
```
28 febrero 2003
```

In [7]:
print(28,"de Octubre de",1991)

28 de Octubre de 1991

### Ejercicio 5

Imprime, en una sola instrucción print, el año actual en el que estás realizando este curso. El valor del año debe ser un dato numérico, y la salida de print debe ser la siguiente:
```
Año actual: [año]
```

In [9]:
print("Año actual:",2025)

Año actual: 2025