# Aula 2: Funciones

## Ejercicio 1

Escribe un código que lee la lista siguiente y realiza:
```
lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]
# 1. Leer el tamaño de la lista
# 2. Leer el valor máximo y mínimo
# 3. Calcular la suma de los valores de la lista
# 4. Mostrar un mensaje al final: La lista tiene `tamano` números, donde el mayor
# es `mayor` y el menor es `menor`. La suma de los valores es `suma`.
```

In [ ]:
lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]
tamanio = len(lista)
mayor = max(lista)
menor = min(lista)
suma = sum(lista)
print(f"La lista tiene {tamanio} números, donde el mayor es {mayor} y el menor es {menor}")
print(f"La suma de los valores es {suma}.")

La lista tiene 17 números, donde el mayor es 99 y el menor es 11
La suma de los valores es 743.

## Ejercicio 2

Escribe una función que genere la tabla de multiplicar de un número entero del 1 al 10, según la elección del usuario. Como ejemplo, para el número 7, la tabla de multiplicar se debe mostrar en el siguiente formato:


```
# Tabla del  7:
# 7 x 0 = 0
# 7 x 1 = 7
# [...]
# 7 x 10 = 70
```

In [ ]:
numero = int(input("Ingrese un número: "))
print(f"Tabla del {numero}:")
for i in range(11):
    print(f"{numero} x {i} = {numero * i}")

Ingrese un número: 7
Tabla del 7:
7 x 0 = 0
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

## Ejercicio 3

Crea una función que lea la siguiente lista y devuelva una nueva lista con los múltiplos de 3:

`[97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]`

In [ ]:
lista_numeros = [97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]

def multiplos_de_3(lista):
  multiplos = filter(lambda x: x % 3 == 0, lista)
  return list(multiplos)

lista_multiplos_de_3 = multiplos_de_3(lista_numeros)
print(lista_multiplos_de_3)

[24, 99]

## Ejercicio 4

Crea una lista de los cuadrados de los números de la siguiente lista `[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]`. Recuerda utilizar las `funciones lambda` y `map()` para calcular el cuadrado de cada elemento de la lista.

In [ ]:
lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
lista_cuadrados = list(map(lambda num: num**2, lista))
print(lista_cuadrados)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Ejercicio 5

Has sido contratado como científico(a) de datos de una asociación de skate. Para analizar las notas recibidas por los skaters en algunas competiciones a lo largo del año, necesitas crear un código que calcule la puntuación de los atletas. Para ello, tu código debe recibir 5 notas ingresadas por los jueces.

In [ ]:
def calcular_puntuacion(lista_notas):
    puntuacion  = sum(lista_notas[1:4]) / 3
    return puntuacion

lista_notas = []
for i in range(5):
    nota = float(input(f"Ingrese la nota {i+1} (debe ser una nota del 1 al 10): "))
    lista_notas.append(nota)

lista_notas.sort()
puntuacion = calcular_puntuacion(lista_notas)
print(f"La puntuación del atleta es {puntuacion:.2f}")

Ingrese la nota 1 (debe ser una nota del 1 al 10): 5
Ingrese la nota 2 (debe ser una nota del 1 al 10): 6.5
Ingrese la nota 3 (debe ser una nota del 1 al 10): 7.5
Ingrese la nota 4 (debe ser una nota del 1 al 10): 9
Ingrese la nota 5 (debe ser una nota del 1 al 10): 8
La puntuación del atleta es 7.33.

## Ejercicio 6

Para cumplir con una demanda de una institución educativa para el análisis del rendimiento de sus estudiantes, necesitas crear una función que reciba una lista de 4 notas y devuelva:

```
# mayor nota
# menor nota
# media
# situación (Aprobado(a) o Reprobado(a))
# Uso de la función
# Mostrar: El estudiante obtuvo una media de `media`, con la mayor nota de `mayor` puntos y la menor nota de `menor` puntos y fue `situacion`.
```

In [ ]:
def rendimiento(lista_notas):
    mayor = max(lista_notas)
    menor = min(lista_notas)
    media = sum(lista_notas) / len(lista_notas)
    if media >= 6:
        situacion = "Aprobado(a)"
    else:
        situacion = "Reprobado(a)"
    return mayor, menor, media, situacion

lista_notas  = []
for i in range(4):
    nota = float(input(f"Ingrese la nota {i+1} (debe ser una nota del 1 al 10): "))
    lista_notas.append(nota)

mayor, menor, media, situacion = rendimiento(lista_notas)
print(f"El estudiante obtuvo una media de {media:.2f}, con la mayor nota de {mayor} puntos y la menor nota de {menor} puntos y fue {situacion}.")

Ingrese la nota 1 (debe ser una nota del 1 al 10): 5.5
Ingrese la nota 2 (debe ser una nota del 1 al 10): 8
Ingrese la nota 3 (debe ser una nota del 1 al 10): 6.7
Ingrese la nota 4 (debe ser una nota del 1 al 10): 7.9
El estudiante obtuvo una media de 7.03, con la mayor nota de 8.0 puntos y la menor nota de 5.5 puntos y fue Aprobado(a).

## Ejercicio 7

Has recibido una demanda para tratar 2 listas con los nombres y apellidos de cada estudiante concatenándolos para presentar sus nombres completos en la forma Nombre Apellido. Las listas son:

```
nombres = ["juan", "MaRia", "JOSÉ"]
apellidos = ["SILVA", "sosa", "Tavares"]

# Normalizar nombres y apellidos y crear una nueva lista con los nombres completos
# Puedes apoyarte en la función map()
```

In [1]:
nombre = ["juan", "MaRia", "JOSÉ"]
apellidos = ["SILVA", "sosa", "Tavares"]

def normalizar(lista):
    return list(map(lambda x: x.capitalize(), lista))

nombres_normalizados = normalizar(nombre)
apellidos_normalizados = normalizar(apellidos)

nombres_completos = list(map(lambda x, y: x + " " + y, nombres_normalizados, apellidos_normalizados))
print(nombres_completos)

['Juan Silva', 'Maria Sosa', 'José Tavares']

## Ejercicio 8

Como científico de datos en un equipo de fútbol, necesitas implementar nuevas formas de recopilación de datos sobre el rendimiento de los jugadores y del equipo en su conjunto. Tu primera acción es crear una forma de calcular la puntuación del equipo en el campeonato nacional a partir de los datos de goles marcados y recibidos en cada juego.

Escribe una función llamada `calcula_puntos()` que recibe como parámetros dos listas de números enteros, representando los goles marcados y recibidos por el equipo en cada partido del campeonato. La función debe devolver la puntuación del equipo y el rendimiento en porcentaje, teniendo en cuenta que la victoria vale 3 puntos, el empate 1 punto y la derrota 0 puntos.

Nota: si la cantidad de goles marcados en un partido es mayor que los recibidos, el equipo ganó. En caso de ser igual, el equipo empató, y si es menor, el equipo perdió. Para calcular el rendimiento, debemos hacer la razón entre la puntuación del equipo y la puntuación máxima que podría recibir.

Para la prueba, utiliza las siguientes listas de goles marcados y recibidos:


```
goles_marcados = [2, 1, 3, 1, 0]
goles_recibidos = [1, 2, 2, 1, 3]
# Texto probablemente mostrado:
# La puntuación del equipo fue `puntos` y su rendimiento fue `desempeno`%"
```

In [4]:
goles_marcados = [2, 1, 3, 1, 0]
goles_recibidos = [1, 2, 2, 1, 3]

def calcular_puntos(goles_marcados, goles_recibidos):
    puntos = 0
    for i in range(len(goles_marcados)):
        if goles_marcados[i] > goles_recibidos[i]:
            puntos += 3
        elif goles_marcados[i] == goles_recibidos[i]:
            puntos += 1
    rendimiento = puntos / (len(goles_marcados) * 3) * 100
    return puntos, rendimiento

puntos, rendimiento = calcular_puntos(goles_marcados, goles_recibidos)
print(f"La puntuación del equipo fue {puntos} y su rendimiento fue {rendimiento:.2f}%")

La puntuación del equipo fue 7 y su rendimiento fue 46.67%

## Ejercicio 9

Te han desafiado a crear un código que calcule los gastos de un viaje a una de las cuatro ciudades desde Recife, siendo ellas: Salvador, Fortaleza, Natal y Aracaju.

El costo diario del hotel es de 150 reales en todas ellas y el consumo de gasolina en el viaje en coche es de 14 km/l, siendo que el precio de la gasolina es de 5 reales por litro. Los gastos con paseos y alimentación a realizar en cada una de ellas por día serían `[200, 400, 250, 300]`, respectivamente.

Sabiendo que las distancias entre Recife y cada una de las ciudades son aproximadamente `[850, 800, 300, 550]` km, crea tres funciones: la primera función calcula los gastos de hotel (`gasto_hotel`), la segunda calcula los gastos de gasolina (`gasto_gasolina`) y la tercera los gastos de paseo y alimentación (`gasto_paseo`).

Para probar, simula un viaje de 3 días a Salvador desde Recife. Considera el viaje de ida y vuelta en coche.


```
# Texto probablemente mostrado:
# Con base en los gastos definidos, un viaje de [dias] días a [ciudad] desde
# Recife costaría [gastos] reales.
```

In [11]:
def gasto_hotel(dias, costo_diario):
    return dias * costo_diario

def gasto_gasolina(distancia, consumo_km_l, precio_gasolina):
    return (distancia * precio_gasolina * 2) / consumo_km_l

def gasto_paseo(dias, gastos):
    return dias * gastos

ciudades = ["Salvador", "Fortaleza", "Natal", "Aracaju"]
dias = 3
costo_diario = 150
consumo_km_l = 14
precio_gasolina = 5
gastos_varios = [200, 400, 250, 300]
distancias = [850, 800, 300, 550]

gastos_totales = gasto_hotel(dias, costo_diario) + gasto_gasolina(distancias[ciudades.index("Salvador")], consumo_km_l, precio_gasolina) + gasto_paseo(dias, gastos_varios[ciudades.index("Salvador")])
print(f"Con base en los gastos definidos, un viaje de {dias} días a {ciudades[0]} desde Recife costaría {gastos_totales:.2f} reales.")

Con base en los gastos definidos, un viaje de 3 días a Salvador desde Recife costaría 1657.14 reales.

## Ejercicio 10

Has comenzado una pasantía en una empresa que trabaja con procesamiento de lenguaje natural (NLP). Tu líder te solicitó que crees un fragmento de código que reciba una frase escrita por el usuario y filtre solo las palabras con un tamaño mayor o igual a 5, mostrándolas en una lista. Esta demanda se centra en el análisis del patrón de comportamiento de las personas al escribir palabras de esta cantidad de caracteres o más.

Consejo: utiliza las funciones `lambda` y `filter()` para filtrar estas palabras. Recordando que la función integrada `filter()` recibe una función (en nuestro caso, una función lambda) y filtra un iterable según la función. Para tratar la frase, utiliza `replace()` para cambiar ',' '.', '!' y '?' por espacio.

Utiliza la frase "*Aprender Python aquí en Alura es muy bueno*" para probar el código.

In [19]:
frase = "Aprender Python aquí en Alura es muy bueno"
frase = frase.replace(',', ' ').replace('.', ' ').replace('!', ' ').replace('?', ' ')

palabras = frase.split()
palabras_filtradas = list(filter(lambda x: len(x) >= 5, palabras))
print(palabras_filtradas)

['Aprender', 'Python', 'Alura', 'bueno']